body{
	background-color: #111111;
}
}

.nameStyle{
	font-family: "Century Gothic", Gothic;
	font-size: 50px;
	color: white;
	text-align: center;
}

.bodyStyle{
	margin: 50px;
	font-family: "Century Gothic", Gothic;
	font-size: 20px;
	color: white;
	width: 30%;
}