body{
	background-image: url(C:\Users\Olivia\Documents\Website\0lib3.github.io\1.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
}

.nameStyle{
	font-family: "Century Gothic", Gothic;
	font-size: 50px;
	color: white;
	text-align: center;
}

.bodyStyle{
	margin: 50px;
	font-family: "Century Gothic", Gothic;
	font-size: 20px;
	color: white;
	width: 30%;
}